.memoryRemember {
    font-size: 30px;
    color: #848383;
    font-weight: bold;
    margin-top: 23px;
    margin-bottom: 34px;
}

.memoryName {
    font-size: 20px;
    font-weight: light;
    margin-bottom: 25px;
}

.phantLogo {
    width: 160px;
    margin-bottom: -1.5rem;
}

.memoryImg {
    width: 350px;
    height: 375px;
    border-radius: 10px;
    border: 1px solid;
    margin-bottom: 23px;
    object-fit: cover;
}

.displayHashtags {
    width: 350px;
    height: 51px;
    background-color: #B7D1DA;
    border-radius: 15px;
    border: 1px solid;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.hashtags {
    font-size: 15px;
    margin: 0 !important;
}

.description {
    width: 350px;
    height: 213px;
    border-radius: 20px;
    border: 1px solid;
}

.memoryDesTxt {
    font-size: 15px;
    font-weight: light;
    margin: 19px 10px;
    height: 136px;
    overflow-y: scroll;
}

.memoryDesDate {
    font-size: 20px;
    font-weight: light;
}

.editBtn {
    background-color: #ccedc9;
}

.deleteBtn {
    background-color: #FF6161;
}

.shareBtn {
    background-color: #B7D1DA;
}

.editBtn,
.deleteBtn,
.shareBtn {
    width: 90px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.backBtnMobile {
    width: 350px;
    height: 34px;
    background-color: #857B74 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 27px;
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rowMargin {
    margin-top: 52px;
    margin-bottom: 23px;
}

.confirmDeleteBtn {
    background-color: #C52E22;
}

.cancelDelete {
    background-color: #857B74;
}

.cancelDelete,
.confirmDeleteBtn {
    width: 90px;
    height: 31px;
    border-radius: 5px !important;
    font-size: 15px !important;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modalTxt {
    font-family: Comfortaa;
    font-size: 20px !important;
    margin-top: 20px;
}

.modalBG {
    background-color: rgba(215, 210, 206, 0.5);
}

.modalBody {
    background-color: #d7d2ce;
    border: 2px solid;
    border-radius: 10px;
    height: 152px;
}

.modalBodyUpdate {
    background-color: #d7d2ce;
    border: 2px solid;
    border-radius: 10px;
    height: 152px;
}

.backBtnDesktop {
    display: none;
}

.memoryImgModal {
    margin: 0 !important;
    padding: 0 !important;
    height: 500px;
    width: 350px;
    object-fit: contain;
}

.imgModal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
}

@media screen and (min-width: 1024px) {
    .modalBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50px;
        left: calc(50% - 335px);
        height: 335px;
        width: 670px;
    }

    .modalBodyUpdate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50px;
        left: calc(50% - 532.5px);
        height: 335px;
        width: 1065px;
    }

    .modalTxt {
        font-family: Comfortaa;
        font-size: 40px !important;
        margin-top: 40px;
    }

    .phantLogo {
        display: none !important;
    }

    .memoryName {
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 50px;
    }

    .memoryRemember {
        font-size: 60px;
    }

    .memoryImg {
        width: 450px;
        height: 450px;
        object-fit: cover;
    }

    .displayHashtags {
        width: 552px;
        height: 65px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .hashtags {
        font-size: 30px;
        margin: 0 !important;
    }

    .description {
        width: 552px;
        height: 335px;
    }

    .memoryDesTxt {
        width: 540px;
        height: 245px;
        font-weight: 300;
        font-size: 30px;
    }

    .memoryDesDate {
        font-size: 30px;
        font-weight: 300;
    }

    .editBtn {
        background-color: #ccedc9 !important;
    }

    .deleteBtn {
        background-color: #FF6161 !important;
    }

    .shareBtn {
        background-color: #B7D1DA !important;
    }

    .backBtnDesktop {
        background: #857B74 !important;
    }

    .editBtn,
    .deleteBtn,
    .shareBtn,
    .backBtnDesktop {
        display: block;
        width: 200px;
        height: 65px;
        font-weight: 700;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 2rem;
    }

    .backBtnMobile {
        display: none;
    }

    .memoryImgModal {
        margin: 0 !important;
        padding: 0 !important;
        height: 800px;
        width: 1000px;
        object-fit: contain;
    }

    .imgModal {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 !important;
        padding: 0 !important;
    }

    .cancelDelete,
    .confirmDeleteBtn {
        width: 200px !important;
        height: 65px !important;
        font-size: 35px !important;
        margin-top: 25px;
    }
}