#custom-input {
  background-color: #d3c0b2;
  background-image: url(../../assets/addimage.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 20px;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  padding: 0 !important;
}

.input1 {
  border-radius: 20px;
  opacity: 0;
  height: 200px;
  width: 200px;
  z-index: 1200;
}

.selectedImg {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  background-color: #d3c0b2;
  border: 1px solid black;
  position: absolute;
  top: 0%;
  left: 0%;
  object-fit: cover;
}

#custom-input2 {
  background-color: #a99282;
  background-image: url(../../assets/Microphone.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 8px;
  border-radius: 10px;
  border: 1px solid black;
  height: 50px;
  width: 200px;
  padding: 0 !important;
}

.input2 {
  border-radius: 10px;
  opacity: 0;
  height: 50px;
  width: 200px;
  z-index: 1200;
}

.selectedImg2 {
  height: 50px;
  width: 196px;
  padding-left: 1rem;
  border-radius: 20px;
  position: absolute;
  top: 0%;
  left: 0%;
}

.addCancelBtn {
  width: 75px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #857B74 !important;
  font-size: 15px !important;
  font-weight: bold !important;
  margin-bottom: 3rem;
  padding: 0 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.addBtn {
  width: 75px !important;
  height: 31px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center ;
  background-color: #A99282 !important;
  font-size: 15px !important;
  font-weight: bold !important;
  margin-bottom: 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textInputs {
  width: 300px !important;
  border: 1px solid black !important;
}

.textInputsDescription {
  width: 300px !important;
  border: 1px solid black !important;
  height: 7.8rem;
}

.addToast {
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

.addImgTxt {
  margin-right: 7rem;
  font-weight: bolder;
}

.addHashtagTxt {
  margin-right: 14rem;
  font-weight: bolder;
}

.addFolderInputTxt {
  margin-right: 15.5rem;
  font-weight: bolder;
}

.addMemoryTxt {
  margin-right: 12.3rem;
  font-weight: bolder;
}

.addDateTxt {
  margin-right: 16.6rem;
  font-weight: bolder;
}

.addDescriptionTxt {
  margin-right: 8rem;
  font-weight: bolder;
}

.addMemoryTitle {
  text-align: center;
  font-size: 25px;
  margin-top: 2rem;
  margin-bottom: 3.5rem;
}

.addMemoryTitleDesktop {
  text-align: center;
  font-size: 25px;
  margin-top: 2rem;
  margin-bottom: 3.5rem;
}

.viewBtn {
  width: 90px !important;
  height: 35px !important;
  background-color: #857B74 !important;
  font-size: 18px !important;
  font-weight: bold !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.changeBtn {
  width: 90px !important;
  height: 31px !important;
  font-size: 15px !important;
  font-weight: bold !important;
  background-color: #E9EDC9 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cancelBtn {
  width: 90px !important;
  height: 31px !important;
  font-size: 15px !important;
  font-weight: bold !important;
  background-color: #857B74 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1024px) {
  .addBtn {
    width: 200px !important;
    height: 65px !important;
    font-size: 25px !important;
    margin-left: 20rem !important;
  }
  
  .changeBtn {
    width: 200px !important;
    height: 65px !important;
    font-size: 25px !important;
    font-weight: bold !important;
    background-color: #E9EDC9 !important;
  }
  
  .cancelBtn {
    width: 200px !important;
    height: 65px !important;
    font-size: 25px !important;
    font-weight: bold !important;
    background-color: #857B74 !important;
  }

  .addCancelBtn {
    width: 200px !important;
    height: 65px !important;
    font-size: 25px !important;
    margin-right: 20rem !important;
  }

  .mobileAddRow {
    display: none !important;
  }

  .desktopAddRow {
    height: 7rem !important;
    margin-top: 8rem !important;
  }

  .addImgBtn {
    width: 250px !important;
    height: 250px !important;
  }

  .firstInfoCol {
    margin-top: 5rem !important;
  }

  .secondInfoCol {
    margin-top: 5rem !important;
  }

  .desktopInfoRow {
    margin-top: 2.5rem !important;
    display: flex;
    justify-content: center;
  }

  .selectedImgBtn {
    width: 400px !important;
    height: 400px !important;
  }

  .selectedImg {
    height: 400px;
    width: 400px;
    top: 0%;
    left: 0%;
    object-fit: cover;
  }

  #custom-input {
    height: 400px;
    width: 400px;
  }

  .input1 {
    height: 400px;
    width: 400px;
  }

  .textInputs {
    width: 400px !important;
    height: 65px !important;
  }

  .viewBtn {
    width: 200px !important;
    height: 65px !important;
    font-size: 35px !important;
    font-weight: bold !important;
    margin-top:50px !important;
  }

  .addImgTxt {
    margin-right: 19rem;
  }
  
  .addHashtagTxt {
    margin-right: 20rem;
  }
  
  .addFolderInputTxt {
    margin-right: 21.2rem;
  }
  
  .addMemoryTxt {
    margin-right: 18rem;
  }
  
  .addDateTxt {
    margin-right: 22.2rem;
  }
  
  .addDescriptionTxt {
    margin-right: 14.2rem;
  }
}

@media screen and (max-width: 380px) {
  .addNew {
    margin-top: 2rem;
  }

  .heart {
    margin-left: 0.5rem;
    margin-top: 2rem;
  }
}