.navLogo {
    width: 150px !important;
    margin-left: 8px;
    margin-top: 1rem;
}

.navTitle {
    margin-top: 2rem;
    font-size: 30px;
    margin-left: 0.5rem;
}

.navRow {
    margin-left: 17rem !important;
    margin-top: 2rem !important;
}

.navBtn {
    font-size: 18px !important;
    background-color: #D7D2CE !important;
    color: black !important;
    border-style: none !important;
    border-radius: 0% !important;
}

.borderCol {
    border-left: 2px solid black !important;
    border-right: 2px solid black !important;
}

<<<<<<< HEAD
@media screen and (max-width: 380px) {
=======
@media screen and (max-width: 425px) {
>>>>>>> 5251a62403ffa9fa8ee1529971a4a0345ec7defd
    .logo {
        display: none !important;
    }

<<<<<<< HEAD
    .navTitle {
        display: none !important;
    }
=======
    .navRow {
        display: none !important;
    }

    .navTitle {
        display: none !important;
    }

    .navLogo {
        display: none !important;
    }
>>>>>>> 5251a62403ffa9fa8ee1529971a4a0345ec7defd
}