.heart {
    width: 80px;
}

.displayMemory {
    background-color: #D3C0B2;
    height: 598px;
    width: 365px;
    border-radius: 20px;
    border: 1px solid;
}

.nameFolder {
    margin-top: 30px;
    font-size: 25px;
    font-weight:bold;
}

.allFolderBtn {
    width:90px;
    height: 90px;
    border:1px solid !important;
    border-radius: 10px !important;
    padding: 0 !important;
    margin:1rem 0 0 1rem
}

.folderImg {
    width:90px;
    height:90px;
    border-radius: 10px;
}

.cardNoPad {
    padding: 0 !important;
}

.memoryTitle {
    font-size:10px;
    margin:0 !important;
}

.memoryDate {
    font-size:8px;
    padding:0 !important;
}

@media screen and (min-width: 1024px) {
    .displayMemory {
        width: 55rem;
        height: 37rem;
    }

    .nameFolder {
        font-size: 50px;
    }

    .allFolderBtn {
        width: 10rem;
        height: 10rem;
    }

    .folderImg {
        width: 10rem;
        height: 10rem;
    }

    .heart {
        display: none;
    }
}