@font-face {
  font-family: Comfortaa;
  src: url(./assets/Comfortaa-VariableFont_wght.ttf);
}

.body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #D7D2CE;
  font-family: Comfortaa;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}