.signUpInput {
    font-size: 20px;
    margin: 32px 0 0 2rem;
    font-weight: bold;
}

.signUpBtn {
    width: 250px;
    height: 45px;
    background-color: #D7D2CE;
    font-weight: 800;
    font-size: 18px;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}